.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px; }

.container::after {
  content: "";
  display: table;
  clear: both; }

@media (min-width: 576px) {
  .container {
    width: 540px;
    max-width: 100%; } }
@media (min-width: 768px) {
  .container {
    width: 720px;
    max-width: 100%; } }
@media (min-width: 992px) {
  .container {
    width: 960px;
    max-width: 100%; } }
@media (min-width: 1200px) {
  .container {
    width: 1140px;
    max-width: 100%; } }
.container-fluid {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px; }

.container-fluid::after {
  content: "";
  display: table;
  clear: both; }

.row {
  margin-right: -15px;
  margin-left: -15px; }

.row::after {
  content: "";
  display: table;
  clear: both; }

.fade-enter-active, .fade-leave-active {
  transition: all 0.2s ease; }

.fade-enter, .fade-leave-active {
  opacity: 0; }

.container-fluid {
  transition: all 0.5s cubic-bezier(0.55, 0, 0.1, 1); }

.slide-left-enter, .slide-right-leave-active {
  opacity: 0;
  transform: translate(30px, 0); }

.slide-left-leave-active, .slide-right-enter {
  opacity: 0;
  transform: translate(-30px, 0); }

body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  background-image: linear-gradient(to right, transparent 0%, rgba(0, 0, 0, 0.2) 15%, rgba(0, 0, 0, 0.2) 85%, transparent 100%); }
  body a {
    color: inherit;
    text-decoration: none; }
    body a:hover, body a:active, body a:focus {
      text-decoration: none; }
  body img {
    max-width: 100%; }
  body #body {
    position: relative;
    min-height: 100vh;
    /* HEADER */
    /* CONTENT */
    /* FOOTER */ }
    body #body header {
      margin-bottom: 15px;
      color: gray;
      text-align: center; }
      body #body header > a {
        display: inline-block;
        text-align: right;
        margin: 20px auto; }
        body #body header > a:hover, body #body header > a:focus, body #body header > a.router-link-active {
          color: black; }
        body #body header > a h1 {
          padding: 0;
          margin: 0;
          font-size: 80px;
          font-weight: 100; }
          @media (max-width: 576px) {
            body #body header > a h1 {
              font-size: 40px; } }
        body #body header > a h6 {
          padding: 0;
          margin: 0;
          display: inline-block;
          font-size: 14px;
          font-weight: 400; }
          @media (min-width: 1200px) {
            body #body header > a h6 {
              margin-right: 20px; } }
      body #body header nav {
        margin: 0 auto;
        font-size: 20px;
        font-weight: 400; }
        body #body header nav a {
          display: inline-block;
          color: white;
          padding: 0 10px;
          border-bottom: 3px solid transparent; }
          body #body header nav a.router-link-active {
            border-bottom-color: black;
            color: black; }
          body #body header nav a:hover, body #body header nav a.focus {
            color: black; }
    body #body .container .row {
      min-height: 490px; }
      body #body .container .row .main_contact {
        bottom: 0;
        text-align: center;
        margin-bottom: 52px;
        color: #454545; }
        body #body .container .row .main_contact .social {
          margin-bottom: 10px; }
          body #body .container .row .main_contact .social a {
            display: inline-block;
            margin: auto 10px; }
            body #body .container .row .main_contact .social a:hover {
              color: royalblue; }
            body #body .container .row .main_contact .social a .text {
              font-size: 12px; }
        body #body .container .row .main_contact .phone span {
          margin: 0 10px; }
        body #body .container .row .main_contact .phone p {
          margin-top: 10px; }
    body #body footer {
      display: block;
      height: 50px;
      border-top: 2px solid darkgray;
      text-align: center;
      color: #454545; }
      @media (min-width: 568px) {
        body #body footer {
          position: absolute;
          bottom: 0;
          left: 0;
          right: 0; } }
      body #body footer div {
        margin: 15px auto; }

/*# sourceMappingURL=style2.css.map */
